@tailwind base;
@tailwind components;
@tailwind utilities;


h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
li,
ol,
ul {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75;
  color: #333;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}

h5 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
  margin-bottom: 0.25rem;
}

h6 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
  margin-bottom: 0.25rem;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

span {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

li {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

ol {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

ul {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

article a {
  color: var(--tw-prose-links);
  font-weight: 500;
  text-decoration: underline;
}

article a {
  --tw-border-opacity: 1;
  border-bottom-width: 1px;
  border-color: rgb(147 197 253/var(--tw-border-opacity));
  text-decoration: none;
}

article a:hover {
  --tw-border-opacity: 1;
  border-bottom-width: 2px;
  border-color: rgb(96 165 250/var(--tw-border-opacity));
}

.header-text {
  text-align: center;
}

.title_post-preview {
  font-weight: 800;
}

.post-date {
  color: #e6007a;
  font-size: 1rem;
}

.post-tag {
  background-color: rgb(220 252 231);
  border: solid white;
  padding: 0.25rem 0.75rem;
  border-radius: 9999px;
  font-weight: 500;
}

.post-tag_wrapper {
  margin-top: 10px;
}

.social-media {
  font-size: 30px
}

article ol {
  list-style-type: decimal;
}

article ul {
  list-style-type: disc;
}

article ol,
article ul {
  padding-left: 40px;
}

pre{
  background-color: #eeeef0;
  max-width: 100%;
  padding: 20px;
  margin: 1.5rem 0 3em;
  overflow-x: auto;
}

.language-text {
  background-color: #f1f5f9;
  border-radius: 0.3em;
}

.image-center {
  display: block;
  margin: 0 auto;
}